# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env

# PyCharm project files
.idea/

# SQLite DB (if using)
*.sqlite3

# Mac OS and Windows files
.DS_Store
Thumbs.db