# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
venv/
.env

# PyCharm project files
.idea/

# Mac OS and Windows files
.DS_Store
Thumbs.db

migrations/__pycache__/

instance/
.flaskenv
